.firstSectionContainer{
    display: flex;
}

.firstSectionContent{
    display: flex;
    flex-direction: column;
    font-family: "Orbitron", sans-serif;
}

.firstSectionContent h2{
    font-size: 2vw;
    margin-bottom: 1rem;
    color: #00FF00;
}

.firstSectionContent p{
    color: #FF007F;
}

@media(max-width: 768px){
    .firstSectionContent h2{
        font-size: 3vw;
        margin-bottom: 1rem;
        color: #00FF00;
    }
}