.headerContainer{
    position: sticky;
    display: flex;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 96vh;
    overflow-y: hidden;
}

.photoContainer{
    border: 2px solid #00FFFF; /* Neon cyan border */
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content:space-around;
    overflow: hidden; 
    position: relative;
    margin: 0; 
    margin-bottom: 5%;
    box-shadow: 0 0 10px #00FFFF, 0 0 20px #00FFFF, 0 0 30px #00FFFF;
    transition: 0.3s ease-in-out;
}

.photoContainer:hover {
    box-shadow: 0 0 15px #00FFFF, 0 0 30px #00FFFF, 0 0 45px #00FFFF;
}

.photoContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease-in-out;
}

.photoContainer:hover img {
    filter: brightness(1.1);
}

.headerTextContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerTextContainer h2{
    color: #00FF00;
    font-family: "Orbitron", sans-serif;
    margin: 0;
    font-size: 2vw;
}

.headerTextContainer h2:hover{
    text-shadow: 0 0 15px #00FF00, 0 0 30px #00FF00, 0 0 45px #00FF00;
}

.headerTextContainer h4{
    color: #FF007F;
    font-family: "Orbitron", sans-serif;
    font-size: 1.5vw;
}

.headerTextContainer h4:hover{
    text-shadow: 0 0 15px #FF007F, 0 0 30px #FF007F, 0 0 45px #FF007F;
} 

.mediaIcons{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-around;
}

.mediaIcons a{
    text-decoration: none;
}

.mediaIcons a img, .mediaIcons a i{
    width: 4vw;
    height: 4vw;
    font-size: 4vw;
    color: white;
    
}

.mediaIcons img:hover, .mediaIcons i:hover{
    cursor: pointer;
}

.githubWhite{
    background-color: grey;
}
